html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(
        -45deg,
        #222 0%,
        #444 45%,
        #948e8e 50%,
        /* Brighter, narrower highlight */ #444 55%,
        #222 100%
    );
    background-size: 400% 400%; /* Adjust size for the new gradient */
    animation: crazyBG 15s ease-in-out infinite; /* Slightly faster for impact */
    color: #f0f0f0;
}

.form-control:focus {
    background-color: #444;
    color: #fff;
    border-color: #888;
    box-shadow: none;
}

#root {
    height: 100%;
}

@keyframes crazyBG {
    0% {
        background-position: 0% 0%; /* Top-left */
    }
    15% {
        background-position: 100% 10%; /* Top-rightish */
    }
    30% {
        background-position: 20% 90%; /* Bottom-leftish */
    }
    45% {
        background-position: 80% 30%; /* Center-rightish */
    }
    60% {
        background-position: 50% 50%; /* Center */
    }
    75% {
        background-position: 10% 10%; /* Near top-left */
    }
    90% {
        background-position: 90% 90%; /* Near bottom-right */
    }
    100% {
        background-position: 0% 0%; /* Back to start */
    }
}

form,
input,
.card,
textarea,
select,
button,
.modal-content {
    background-color: #1e1e1e !important;
    color: #f0f0f0 !important;
    border-color: #444 !important;
}

.card-img-top {
    transition: transform 0.4s ease;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.card::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #5e575a, #6f7577, #958f9b, #d2c3c8);
    background-size: 400% 400%;
    z-index: -1;
    filter: blur(8px);
    opacity: 0;
    transition: opacity 0.5s;
    animation: borderAnim 6s ease infinite;
}

.card:hover::before {
    opacity: 1;
}

@keyframes borderAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
